<!doctype html>
<html lang="es">

<head>
    <title>PokeGO CL</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:description" content="Website de registro de entrenadores">
    <meta name="twitter:title" content="PokeGO CL Limache">
    <meta property="og:image" content="./assets/images/hero.png">
    <meta name="description" content="Website de registro de entrenadores">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="./assets/images/hero.png">


    <!-- icon -->
    <link rel="icon" href="./favicon.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>


<body>
    <section class="container">
        <form action="" class="row g-3 needs-validation" novalidate method="POST">
            <div class="form-floating col-md-12">
                <input type="text" class="form-control" id="nick" name="nick" placeholder="Croxito">
                <label for="nick">Nombre de entrenador (Nick del juego)</label>
            </div>

            <div class="form-floating col-md-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="nombre@gmail.com">
                <label for="email">Email</label>

            </div>
            <div class="form-floating col-md-6">
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="954205122">
                <label for="phone">Celular</label>
            </div>

            <div class="form-floating col-md-6">
                <input type="number" class="form-control" id="code" name="code" placeholder="111122223333">
                <label for="code" class="form-label">Código de amistad</label>
            </div>

            <div class="form-floating col-md-6">
                <select class="form-select" id="team" type="text" name="team">
                    <option selected></option>
                    <option value="Instinto">Instinto</option>
                    <option value="Valor">Valor</option>
                    <option value="Sabiduría">Sabiduría</option>
                </select>
                <label for="team">Team / Equipo / Color</label>
            </div>

            <div class="form-floating col-md-12">
                <input type="text" class="form-control" id="location" name="location" placeholder="Limache">
                <label for="location" class="form-label">Sector de Limache donde juegas? </label>
            </div>

            <div class="col-md-12">
                <button id="registro" type="submit" class="btn btn-primary">Registrar entrenador</button>
            </div>
        </form>




    </section>



</html>